.footer {
  background-color: #3e2723;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content p {
  margin: 0.5rem 0;
}

.footer-section {
  text-align: left; /* Sol hizalama için */
}

.footer-design {
  margin-top: 1rem;
  font-size: 0.8rem;
}
